.calendar__time-scale {
  width: 70px;
  flex-shrink: 0;
  border-right: 1px solid #dadce0;
  box-sizing: border-box;
}

.time-slot {
  height: 60px;
  position: relative;
  box-sizing: border-box;
  padding-left: 12px;

  &__time {
    position: absolute;
    top: -8px;
    left: 12px;
    right: auto;
    font-size: 12px;
    color: #70757a;
    padding: 0 4px;
    text-align: left;
  }
}