.calendar__time-scale {
  width: 60px;
  flex-shrink: 0;
}

.time-slot {
  height: 60px;
  position: relative;

  &__time {
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 14px;
    color: #777;
  }
}